<p class="announcement-text"><strong>ICTE'18</strong> is part of the <strong>3<sup>rd</sup> World Congress on Civil, Structural, and Environmental Engineering (CSEE'18)</strong>. 
<a class="body-link" target="_blank" href="https://www.cseecongress.com">Congress Website</a> | 
<a class="body-link" target="_blank" href="CSEE18_CFP_Flyer.pdf">Congress Flyer</a></p>


<p class="announcement-text">
  <strong>Poster Board Dimensions:</strong><br>
  Authors presenting via poster boards are to be informed that poster boards are 110 cm height and 70 cm width.
</p>