<h2>Upcoming Dates</h2>

<div class="grid events">
<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
  <div class="date">
    <!-- <div class="past">Feb. 10, 2017</div> --> Sep. 28, 2017
  </div>
</div>

<div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
  <div class="unit-spacer">
    <!-- <div class="past past-text">Final Regular Registration</div>  -->Paper Submission Deadline
  </div>
</div>
</div>

<div class="grid events">
<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
  <div class="date">
    <!-- <div class="past">Feb. 10, 2017</div> --> Oct. 26, 2017
  </div>
</div>

<div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
  <div class="unit-spacer">
    <!-- <div class="past past-text">Final Regular Registration</div>  -->Notification to Authors
  </div>
</div>
</div>

<div class="grid events">
<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
  <div class="date">
    <!-- <div class="past">Feb. 10, 2017</div> --> Nov. 16, 2017
  </div>
</div>

<div class="unit unit-s-1 unit-m-3-4 unit-l-3-4">
  <div class="unit-spacer">
    <!-- <div class="past past-text">Final Regular Registration</div>  -->Early-Bird Registration
  </div>
</div>
</div>


